<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>    
  </configSections>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="SiteManager.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>

  <system.web>
    <compilation debug="true" defaultLanguage="c#" optimizeCompilations="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="data source=194.28.84.40\MSSQLSERVER2008;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true; User ID=marikvntu;Password=collider1!;Persist Security Info=true; " />
    <add name="VinnitsaEntities" connectionString="metadata=res://*/DataAccessLayer.VinnitsaDBModel.csdl|res://*/DataAccessLayer.VinnitsaDBModel.ssdl|res://*/DataAccessLayer.VinnitsaDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=194.28.84.40\MSSQLSERVER2008;initial catalog=JunkDB;MultipleActiveResultSets=True; User ID=marikvntu;Password=collider1!;Persist Security Info=true;App=EntityFramework&quot;" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
  <system.webServer>
    <directoryBrowse enabled="true"/>
    <staticContent>
      <mimeMap fileExtension=".aspx" mimeType="application/aspx"/>
      <mimeMap fileExtension=".asp" mimeType="application/asp"/>
    </staticContent>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm"/>
        <remove value="index.htm"/>
        <remove value="default.aspx"/>
        <remove value="index.html"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <add value="JunkFood.Htm"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>

 
